/* App.css */
body {
    margin: 0;
    padding: 0;
    font-family: 'Fantasy', sans-serif;
    background: url(../assets/login-bg.jpg)no-repeat center center/cover;
  }

  
  .login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #3498db;
  }
  
  .container {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 12px;
    width: 500px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  .tabs {
    display: flex;
    justify-content: space-between;
  }
  
  .login-tab,
  .signup-tab {
    cursor: pointer;
    padding: 15px;
    font-size: 20px;
    color: #217dbb;
    transition: color 0.3s ease-in-out;
  }
  
  .login-tab.active,
  .signup-tab.active {
    color: #3498db;
    border-bottom: 3px solid #3498db;
  }
  
  .tab-content {
    display: none;
  }
  
  .tab-content.active {
    display: block;
    margin-top: 30px;
    transition: margin-top 0.3s ease-in-out;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
    font-size: 18px;
    font-style: italic;
    color: #333;
  }
  
  input {
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  
  button {
    padding: 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #217dbb;
  }
  